header#header-section{
    padding-top:10px;
    padding-bottom: 10px;
    box-shadow:0px 1px 25px #ededed;
}
.header-menu{
    position: relative;
    top: 10px;
    ul#header-menu-list{
        li.menu-name{
            a{
                padding: 10px;
                border-radius: 4px;
                font-size: 18px;
                font-weight:700 ;
                text-transform: uppercase;
                &:hover{
                    background-color: $color-green;
                    color:$color-white;
                    opacity:0.3s;
                    transition:0.6s;
                }
            }
        }
    }
}
#main-content {
    margin-top: 80px;
    .main-content-title-intro{
       margin-top:10px;
    }
    .company-aim{
        margin-top: 12px;
        h3{
            color:$color-light-grey;
        }
    }
    h2 .special-word{
        color:$color-green;
    }
    .title-intro h2{
        font-weight:700;
        position:relative;
        &:before {
            content:"";
            background-image:url('../images/shape1.png');
            position:absolute;
            height:15px;
            width: 16px;
            left:-23px;
            background-repeat: no-repeat;
        }
        &::after {
            content:"";
            background-image:url('../images/shape1.png');
            position:absolute;
            height:15px;
            width: 16px;
            right:-23px;
            background-repeat: no-repeat; 
        }
    }
    .services-section{
        margin-top:39px;
        .main-content-intro{
            .company-services-icons{
                text-align: center;
                margin-bottom: 34px;
                margin-right: 26px;
                margin-left: 25px;
            }
            a {
                color:black; 
                i.fa.icons-size{
                    border-radius: 50%;
                    background-color:$color-dark-grey;
                    font-size: 2.3rem;
                    color:$color-white;
                    height:100px;
                    width:100px;
                    padding-top:32px;
                    padding-bottom:31px;
                    padding-right:34px;
                    padding-left:35px;
                }
                
            }
            .company-services{
                margin-top:10px;
                h3{
                    font-weight:600;
                    text-align:center;
                }
                p{
                    text-align:center;
                }
                .readmore{
                    text-align: center;
                    button.btn-light.readmore-option{
                    }
                }
            }
            &:hover{
                cursor:pointer;
                button.btn-light.readmore-option{
                    color:$color-white;
                    background-color: $color-green;
                    transition:0.4s;
                    opacity:0.3s;
                }
                i.fa.icons-size{
                    background-color: $color-green;
                    transition:0.4s;
                    opacity:0.3s;
                }
            }
        }     
    } 
}
#amazing-features-content{
    margin-top:20px;
    background-color: $color-dark-grey;
    .main-content-title-intro{
        margin-top:10px;
    }
     .company-aim{
         margin-top: 12px;
    }
     h2 {
        color:$color-white;
        .special-word{
            color:$color-green;     
        }
    }
     .title-intro h2{
         font-weight:700;
         position:relative;
         &:before{
            content:"";
            background-image:url('../images/shape1.png');
            position:absolute;
            height:15px;
            width: 16px;
            left:-23px;
            background-repeat: no-repeat;
        }
         &::after {
            content:"";
            background-image:url('../images/shape1.png');
            position:absolute;
            height:15px;
            width: 16px;
            right:-23px;
            background-repeat: no-repeat;
        }
    }
    .amazing-features{
        text-align: center;
        .amazing-feature-logo{
            text-align: center;
            img{
            height: 32px;
            width: 32px;
            margin: 15px;
            margin-top:-15px;
            }
        }
        .main-content-title-intro{
            
        }
        .company-aim{
            h3{
                color:$color-light-grey;
            }
        }      
    }
    .our-main-goal{
        margin:30px;
        
        .amazing-features-purpose{
            .amazing-spacing{
                margin-top: 30px;
                .amazing-features-purpose-icon{
                    margin:15px;
                    a{
                        i.fa.amazing-png{
                            color:$color-green;
                            font-size:2.3rem;
                        }
                    }
                }
                .amazing-features-services{
                    h3{
                    color: $color-grey;
                    font-weight:600;
                    }
                    p{
                    color: $color-light-grey;
                    }
                }
            }
            
        }
    }
}
#amazing-progress-section{
    background-color:$color-dark-grey;
    .amazing-features{
        text-align: center;
        .amazing-feature-logo{
            text-align: center;
            img{
            height: 32px;
            width: 32px;
            margin: 15px;
            margin-top:-15px;
            }
        }
        .main-content-title-intro{
            .title-intro{
                h2{
                    color:$color-white;
                }
            }
        }
        .company-aim{
            h3{
                color:$color-light-grey;
            }
        }   
    }
    .our-main-goal{
        margin-top: 30px;
        padding:20px;
    }
    .progress{
        width: 150px;
        height: 150px;
        line-height: 150px;
        background: none;
        margin: 0 auto;
        box-shadow: none;
        position: relative;
    }
    .progress:after{
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 12px solid #fff;
        position: absolute;
        top: 0;
        left: 0;
    }
    .progress > span{
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    .progress .progress-left{
        left: 0;
    }
    .progress .progress-bar{
        width: 100%;
        height: 100%;
        background: none;
        border-width: 12px;
        border-style: solid;
        position: absolute;
        top: 0;
    }
    .progress .progress-left .progress-bar{
        left: 100%;
        border-top-right-radius: 80px;
        border-bottom-right-radius: 80px;
        border-left: 0;
        -webkit-transform-origin: center left;
        transform-origin: center left;
    }
    .progress .progress-right{
        right: 0;
    }
    .progress .progress-right .progress-bar{
        left: -100%;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;
        border-right: 0;
        -webkit-transform-origin: center right;
        transform-origin: center right;
        animation: loading-1 1.8s linear forwards;
    }
    .progress .progress-value{
        width: 90%;
        height: 90%;
        border-radius: 50%;
        background: #44484b;
        font-size: 24px;
        color: #fff;
        line-height: 135px;
        text-align: center;
        position: absolute;
        top: 5%;
        left: 5%;
    }
    .progress.blue .progress-bar{
        border-color:$color-green;
    }
    .progress.blue .progress-left .progress-bar{
        animation: loading-2 1.5s linear forwards 1.8s;
    }
    
    @keyframes loading-1{
        0%{
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100%{
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
    @keyframes loading-2{
        0%{
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100%{
            -webkit-transform: rotate(144deg);
            transform: rotate(144deg);
        }
    }
    @keyframes loading-3{
        0%{
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100%{
            -webkit-transform: rotate(75deg);
            transform: rotate(75sdeg);
        }
    }
    @keyframes loading-4{
        0%{
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100%{
            -webkit-transform: rotate(36deg);
            transform: rotate(36deg);
        }
    }
    @keyframes loading-5{
        0%{
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100%{
            -webkit-transform: rotate(126deg);
            transform: rotate(126deg);
        }
    }
    @media only screen and (max-width: 990px){
        .progress{ margin-bottom: 20px; }
    }
}
#amazing-profile-images{
    .amazing-features{
        text-align: center;
        .amazing-feature-logo{
            text-align: center;
            img{
            height: 32px;
            width: 32px;
            margin: 15px;
            margin-top:-15px;
            }
        }
        .main-content-title-intro{
            .title-intro{
                h2{
                    color:$color-dark-grey;
                }
            }
        }
        .company-aim{
            h3{
                color:$color-light-grey;
            }
        }   
    }
   .sample-works-profile{
       margin-top:12px;
            margin-bottom:12px;
        .wrapper{
            position: relative;
        }
        
        .image {
        display: block;
        width: 100%;
        height: auto;
        }
        
        .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color:$color-green;
        }
        
        .wrapper:hover .overlay {
        opacity: 1;
        }
        
        .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        h3{
            margin:12px;
            color:$color-white;
        }
        h4{
            color:$color-white;
            font-weight:400;
        }
      }
    }
  
}    
.view-all-works{
    text-align: center;
    width: 80%;
    margin: 0 auto;
    background-color:$color-green;
    padding: 6px;
    margin-bottom: 11px;
    margin-top: 40px;
    h3{
        color:$color-white;
    }
}
#amazing-progress-section{
    .amazing-text{
        h3{
            font-weight: 500;
            font-size:88px;
            font-family:"Raleway";
            color:$color-grey; 
            &::before{
                content:"";
                background-image:url('../images/left-shape.png');
                position:absolute;
                height:15px;
                width: 16px;
                left: 33px;
                top:50px;
                background-repeat: no-repeat;
                cursor:pointer;
               
            }
             &::after {
                content:"";
                background-image:url('../images/left-shape.png');
                position:absolute;
                height:15px;
                width: 16px;
                right:33px;
                top:50px;
                background-repeat: no-repeat;
                cursor:pointer;
                }
                &:hover{
                    &::before{
                        content:"";
                        background-image:url('../images/shape1.png');
                        position:absolute;
                        height:15px;
                        width: 16px;
                        left: 33px;
                        top:50px;
                        background-repeat: no-repeat;
                        cursor:pointer;
                        
                    }
                        &::after {
                        content:"";
                        background-image:url('../images/shape1.png');
                        position:absolute;
                        height:15px;
                        width: 16px;
                        right:33px;
                        top:50px;
                        background-repeat: no-repeat;
                        cursor:pointer;
                    
                        }  
                }
       
       
            }
            p{
                &::before{
                    content: "";
                    border: -1px solid;
                    border-color:$color-grey;
                    display: block;
                    width: 48px;
                   
                  
                   
                }
                &::after{
                    content:"";
                   
                }              
            }       
        }
}    
.unlimited-features{
    background-color: $color-green;
    padding:12px;
    margin-bottom:12px;
   
    h3{
        font-weight: 600;
        color:$color-grey;
        font-size: 20px;
        margin-top:4px;
    }
    .unlimited-features-more{
        button{
            font-weight:700;
            color:$color-dark-grey;
            font-size:15px;
            margin-right:12px;
           &:hover{
               background-color:$color-green;
               color:$color-white;
               font-weight:600;
           }
        }
    }
}
.team-members{
    #amazing-progress-section{
        background-color:$color-grey;
        margin-bottom:12px;
    }
}


